<div id="sidebar" class="sidebar">

  <ul class="nav nav-list">

    <li class="<%= 'active' if (params[:controller]=="applications"&&params[:action] =="dashboard") %>">
      <a href="/applications/dashboard">
        <i class="icon-dashboard"></i>
        <span class="menu-text">汇总信息</span>

      </a>
    </li>

    <li class="<%= 'active' if (params[:controller]=="applications"&&(params[:action] =="manage"||params[:action] =="unitapp")) %>">
      <a href="/applications/manage">
        <i class="icon-table"></i>
        <span class="menu-text">应用管理</span>

      </a>
    </li>

    <li class="<%= 'active' if (params[:controller]=="applications"&&params[:action] =="service") %>">
      <a href="/applications/service">
        <i class="icon-magnet"></i>
        <span class="menu-text">能力绑定</span>

      </a>
    </li>





  </ul>
  <!--/.nav-list-->

  <div id="sidebar-collapse" class="sidebar-collapse">
    <i class="icon-double-angle-left"></i>
  </div>
</div>



