<div id="sidebar" class="sidebar">

  <ul class="nav nav-list">
    <li class="<%= 'active' if (params[:controller]=="resource"&&params[:action] =="dashboard") %>">
      <a href="/resource/dashboard">
        <i class="icon-dashboard"></i>
        <span class="menu-text">资源信息</span>

      </a>
    </li>

    <li class="<%= 'active' if (params[:controller]=="resource"&&params[:action] =="network") %>">
      <a href="/resource/network">
        <i class="icon-table"></i>
        <span class="menu-text">网络管理</span>

      </a>
    </li>

    <li class="<%= 'active' if (params[:controller]=="resource"&&(params[:action] =="software"||params[:action] =="softintro"||params[:action] =="softnow")) %>">
      <a href="/resource/software">
        <i class="icon-sort-by-attributes"></i>
        <span class="menu-text">软件自动化</span>

      </a>
    </li>

    <li class="<%= 'active' if (params[:controller]=="resource"&&(params[:action] =="virtualmac"||params[:action] =="unitcontainer"||params[:action] =="unitvirmac"||params[:action] =="business")) %>">
      <a href="/resource/virtualmac">
        <i class="icon-sitemap"></i>
        <span class="menu-text"> 虚拟机管理</span>

      </a>
    </li>

  </ul>
  <!--/.nav-list-->

  <div id="sidebar-collapse" class="sidebar-collapse">
    <i class="icon-double-angle-left"></i>
  </div>
</div>

