<div class="widget-header widget-header-flat">
  <h4 class="lighter">
    <i class="icon-table"></i>
    短彩使用情况统计表 <%=year  %>
  </h4>
</div>
<div class="widget-body" style="padding-top: 15px;">
<div id="monthtable"  class="center"  ></div>
<div id="gettablemonth" class="<%=year %>" style="display: hidden;"></div>
 </div>
<script type="text/javascript">


    var gettablemonth=document.getElementById('gettablemonth').className ;

        var duanup = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,39],[8,40],[9,20],[10,80],[11,130],[12,35],[13,80],[14,70],[15,50],[16,90],[17,150],[18,40],[19,80],[20,50],[21,20],[22,140],[23,34],[24,70],[25,90],[26,30],[27,100],[28,33],[29,20],[30,75],[31,90]];
        //var absd=[[[1,2000],[2,1000]],[[1,4],[2,3]]];
        //alert(absd[0]);
        //var duandown =absd[0];
        var duandown = [[1,1000],[2,800],[3,500],[4,750],[5,300],[6,1200],[7,390],[8,400],[9,200],[10,800],[11,1300],[12,350],[13,800],[14,700],[15,500],[16,900],[17,1500],[18,400],[19,800],[20,500],[21,200],[22,1400],[23,340],[24,700],[25,900],[26,300],[27,1000],[28,303],[29,200],[30,750],[31,900]];
        var duanqun = [[1,1000],[2,800],[3,500],[4,705],[5,300],[6,1020],[7,309],[8,400],[9,200],[10,800],[11,1030],[12,305],[13,800],[14,700],[15,500],[16,900],[17,1050],[18,400],[19,800],[20,500],[21,200],[22,1040],[23,304],[24,700],[25,900],[26,300],[27,1000],[28,303],[29,200],[30,705],[31,910]];
        var caiup = [[1,10],[2,8],[3,5],[4,7],[5,3],[6,12],[7,9],[8,4],[9,2],[10,8],[11,13],[12,35],[13,8],[14,7],[15,5],[16,9],[17,15],[18,4],[19,8],[20,50],[21,20],[22,140],[23,34],[24,70],[25,90],[26,30],[27,100],[28,33],[29,20],[30,75],[31,90]];
        var caidown = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,390],[8,40],[9,20],[10,80],[11,130],[12,35],[13,80],[14,70],[15,50],[16,90],[17,150],[18,40],[19,80],[20,50],[21,20],[22,140],[23,34],[24,70],[25,90],[26,30],[27,100],[28,33],[29,20],[30,75],[31,90]];
        var caiqun = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,369],[8,40],[9,20],[10,80],[11,130],[12,35],[13,80],[14,70],[15,50],[16,90],[17,150],[18,40],[19,80],[20,50],[21,20],[22,140],[23,34],[24,70],[25,90],[26,30],[27,100],[28,33],[29,20],[30,75],[31,90]];

                var table1=document.getElementById("monthtable");
                var str="<table class='table table-striped table-bordered bootstrap-datatable datatable'><thead><tr style='text-align:center'><th rowspan='2' style='vertical-align:top;text-align:center'>时间</th><th colspan='3'  style='text-align:center'>短信</th><th colspan='3' style='text-align:center'>彩信</th></tr><tr><th>上行</th><th>下行</th><th>群发</th><th>上行</th><th>下行</th><th>群发</th></tr></thead>";                str=str+"<tbody>";
                var len=duandown.length;
                var duanuptol=0;
                var duandowntol=0;
                var duanquntol=0;
                var caiuptol=0;
                var caidowntol=0;
                var caiquntol=0;
                for(var i=0;i<len;i++){
                    a=i+1;
                    str=str+"<tr><td>"+a+"号</td><td>"+duanup[i][1]+"</td><td>"+duandown[i][1]+"</td><td>"+duanqun[i][1]+"</td><td>"+caiup[i][1]+"</td><td>"+caidown[i][1]+"</td><td>"+caiqun[i][1]+"</td></tr>";
                    duanuptol=duanuptol+duanup[i][1];
                    duandowntol=duandowntol+duandown[i][1];
                    duanquntol=duanquntol+duanqun[i][1];
                    caiuptol=caiuptol+caiup[i][1];
                    caidowntol=caidowntol+caidown[i][1];
                    caiquntol=caiquntol+caiqun[i][1];
                }

//console.log(duanuptol+","+duandowntol+","+duanquntol+","+caiuptol+","+caidowntol+","+caiquntol);
                str=str+"<tr><th>总计</th><td>"+duanuptol+"</td><td>"+duandowntol+"</td><td>"+duanquntol+"</td><td>"+caiuptol+"</td><td>"+caidowntol+"</td><td>"+caiquntol+"</td>"+"</tr>";
                str=str+"</tbody></table>";
                table1.innerHTML=str;




</script>
