<div class="widget-header widget-header-flat">
  <h4 class="lighter">
    <i class="icon-table"></i>
    短彩使用情况统计表 <%=year  %>
  </h4>
</div>
<div class="widget-body" style="padding-top: 15px;">
<div id="dyeartable"  class="center"  ></div>
<div id="dgettableyear" class="<%=year %>" style="display: hidden;"></div>
</div>
<script type="text/javascript">


    var dgettableyear=document.getElementById('dgettableyear').className ;

    var dyduanup = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,39],[8,40],[9,20],[10,80],[11,130],[12,35]];
    //var absd=[[[1,2000],[2,1000]],[[1,4],[2,3]]];
    //alert(absd[0]);
    //var duandown =absd[0];
    var dyduandown = [[1,1000],[2,800],[3,500],[4,750],[5,300],[6,1200],[7,390],[8,400],[9,200],[10,800],[11,1300],[12,350]];
    var dyduanqun = [[1,1000],[2,800],[3,500],[4,705],[5,300],[6,1020],[7,309],[8,400],[9,200],[10,800],[11,1030],[12,305]];
    var dycaiup = [[1,10],[2,8],[3,5],[4,7],[5,3],[6,12],[7,9],[8,4],[9,2],[10,8],[11,13],[12,35]];
    var dycaidown = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,390],[8,40],[9,20],[10,80],[11,130],[12,35]];
    var dycaiqun = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,369],[8,40],[9,20],[10,80],[11,130],[12,35]];


                var dtable1=document.getElementById("dyeartable");
                var str="<table class='table table-striped table-bordered bootstrap-datatable datatable'><thead><tr style='text-align:center'><th rowspan='2' style='vertical-align:top;text-align:center'>时间</th><th colspan='3'  style='text-align:center'>短信</th><th colspan='3' style='text-align:center'>彩信</th></tr><tr><th>上行</th><th>下行</th><th>群发</th><th>上行</th><th>下行</th><th>群发</th></tr></thead>";                str=str+"<tbody>";
                var len=dyduandown.length;
                var duanuptol=0;
                var duandowntol=0;
                var duanquntol=0;
                var caiuptol=0;
                var caidowntol=0;
                var caiquntol=0;
                for(var i=0;i<len;i++){
                    a=i+1;
                    str=str+"<tr><td>"+a+"月</td><td>"+dyduanup[i][1]+"</td><td>"+dyduandown[i][1]+"</td><td>"+dyduanqun[i][1]+"</td><td>"+dycaiup[i][1]+"</td><td>"+dycaidown[i][1]+"</td><td>"+dycaiqun[i][1]+"</td></tr>";
                    duanuptol=duanuptol+dyduanup[i][1];
                    duandowntol=duandowntol+dyduandown[i][1];
                    duanquntol=duanquntol+dyduanqun[i][1];
                    caiuptol=caiuptol+dycaiup[i][1];
                    caidowntol=caidowntol+dycaidown[i][1];
                    caiquntol=caiquntol+dycaiqun[i][1];
                }

//console.log(duanuptol+","+duandowntol+","+duanquntol+","+caiuptol+","+caidowntol+","+caiquntol);
                str=str+"<tr><th>总计</th><td>"+duanuptol+"</td><td>"+duandowntol+"</td><td>"+duanquntol+"</td><td>"+caiuptol+"</td><td>"+caidowntol+"</td><td>"+caiquntol+"</td>"+"</tr>";
                str=str+"</tbody></table>";
                dtable1.innerHTML=str;





</script>
