<script>
  $('#nav_menu_unlog_resource').addClass('active')
</script>
<div class="row-fluid" style="width:80%;margin-left: auto;margin-right: auto;margin-top: 60px;">
  <div class="row-fluid span12" style="padding-left:80px;padding-right: 80px;">
    <div class="span8">
      <h3 style="color:#438EB9 ;margin-bottom: 30px;font-weight: bold;">资源池</h3>
        <h5>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资源池管理平台为了满足企业级用户在云计算laaS层的需求，贴合应用场景，从物理资产管理，到虚拟化资源管理，经过服务及产品目录的定制，最终提供IT服务，通过合理的流程、便捷部署、快速交付实现云计算的使用。</h5>
        <hr>

        <h5 class="blue" style="font-weight: bold;"><i class="icon-user blue bigger-200"></i>业务账号</h5>
      <h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资源池管理平台为了满足企业级用户在云计算laaS层的需求，贴合应用场景，从物理资产管理，到虚拟化资源管理，经过服务及产品目录的定制，最终提供IT服务，通过合理的流程、便捷部署、快速交付实现云计算的使用。</h5>
      <hr>


        <h5 class="blue" style="font-weight: bold;"><i class="icon-beaker blue bigger-200"></i>业务容器</h5>
      <h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资源池管理平台为了满足企业级用户在云计算laaS层的需求，贴合应用场景，从物理资产管理，到虚拟化资源管理，经过服务及产品目录的定制，最终提供IT服务，通过合理的流程、便捷部署、快速交付实现云计算的使用。</h5>
      <hr>


        <h5 class="blue" style="font-weight: bold;"><i class="icon-desktop blue bigger-200"></i>虚拟机</h5>
      <h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资源池管理平台为了满足企业级用户在云计算laaS层的需求，贴合应用场景，从物理资产管理，到虚拟化资源管理，经过服务及产品目录的定制，最终提供IT服务，通过合理的流程、便捷部署、快速交付实现云计算的使用。</h5>


    </div>
    <div class="span4" >
      <div class="widget-box pricing-box">
        <div class="widget-header header-color-blue2">
          <h5 class="bigger lighter">资源情况</h5>
        </div>
        <div class="widget-body">
          <div class="widget-main">
            <ul class="unstyled spaced2">
              <div class="center" style="margin-top: 10px;">
                <i class="icon-list-alt bigger-300 blue"></i>
              </div>
              <hr>
              <li>
                <i class="icon-ok green"></i>
                已有业务账号：6个
              </li>
              <li>
                <i class="icon-ok green"></i>
                已有业务容器：10个
              </li>
              <li>
                <i class="icon-ok green"></i>
                已有虚拟机数：20台
              </li>
              <hr>
              <li>
                <i class="icon-caret-right blue"></i>
                业务账号（一个账号可申请或绑定一个业务账号）
              </li>
              <li>
                <i class="icon-caret-right blue"></i>
                业务容器（一个业务账号下可有多个业务容器）
              </li>
              <li>
                <i class="icon-caret-right blue"></i>
                虚拟机（一个业务容器下可有多个虚拟机）
              </li>
              <li>
                <i class="icon-caret-right blue"></i>
                网段（每个虚拟机可绑定外网IP）
              </li>
              <li>
              <i class="icon-caret-right blue"></i>
                软件自动化（目前提供10多种软件包）
              </li>
              <li>
                <i class="icon-caret-right blue"></i>
                虚拟机（一个业务容器下可有多个虚拟机）
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




