<script>
  $('#nav_menu_user_service').addClass('active')
</script>
<div class="container-fluid main-container" xmlns="http://www.w3.org/1999/html">

  <%= render(:partial => "/sidebar/service") %>
  <div class="main-content clearfix">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          能力开发

			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
        </li>
        <li class="active">软件超市</li>
      </ul>
      <!--.breadcrumb-->
    </div>
    <div id="content" class="page-content">

    <div class="page-header position-relative">
      <h1>
        能力超市
        <small>
          <i class="icon-double-angle-right"></i>
          <span>基础服务&短彩服务——申请</span>
        </small>
      </h1>
    </div>

    <div class="row-fluid">
      <div class="span3 center">
        <div class="profile-picture">
          <img alt="Pic mysql" src="/assets/pic_sms.png" />
        </div>
      </div>
      <div class="span9">

        <div class="text profile-user-info">
          <div class="profile-info-row">
            <div class="profile-info-name">服务类型</div>
            <div class="profile-info-value">短彩服务</div>
          </div>
          <div class="profile-info-row">
            <div class="profile-info-name">服务版本</div>
            <div class="profile-info-value">1.0</div>
          </div>
          <div class="profile-info-row">
            <div class="profile-info-name">服务简介</div>
            <div class="profile-info-value">MySQL是一个关系型数据库管理系统,MySQL被广泛地应用在Internet上的中小型网站中。特点是体积小、速度快、总体拥有成本低。</div>
          </div>
        </div>


        <h4 class="header blue lighter smaller">请填写下列信息</h4>
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">服务类型</label>

            <div class="controls">
              <div class="row-fluid">
                <input type="radio" name="form-field-radio" value="1">
                <span class="lbl">短信</span>

                <input type="radio" name="form-field-radio" value="2">
                <span class="lbl">彩信</span>

              </div>
            </div>

          </div>


          <div class="control-group">
            <label class="control-label" for="form-field-sername">接入号</label>

            <div class="controls">
              <input type="text" id="form-field-accno" placeholder=""/>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label"  for="form-field-select-3">优先级</label>

            <div class="controls">
              <select id="connetwork">
                <option value="" > ---选择优先级---</option>
                <option value="1" >1 </option>
                <option value="2" >2 </option>
                <option value="3" >3  </option>
                <option value="4" >4  </option>
                <option value="5" >5   </option>
                <option value="6" >6 </option>
                <option value="7" >7 </option>
                <option value="8" >8  </option>
                <option value="9" >9  </option>
                <option value="10" >紧急   </option>
              </select>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label" for="form-field-sername">上行接入地址</label>

            <div class="controls">
              <input type="text" id="form-field-upadd" placeholder=""/>
            </div>
          </div>





          <div class="form-actions">
            <%= submit_tag '确认创建', :class => 'btn btn-primary' %>
            <input class="btn" type="reset" value="取消">
          </div>

        </form>


      </div>
    </div>



    </div>
  </div>
</div>
