<div class="container-fluid">
  <p>&nbsp;</p>

  <p>&nbsp;</p>
</div>
<div class="footer">
  <div class=" center" style="text-align: center;">
    <div>
      <a href="#">关于我们</a>
      <span>&nbsp;|&nbsp;</span>
      <a href="#">法律声明</a>
      <span>&nbsp;|&nbsp;</span>
      <a href="#">联系我们</a>
      <span>&nbsp;|&nbsp;</span>
      <a href="#">帮助中心</a>
    </div>
    <div style="background-image: linear-gradient(to right, #F0F0F0, #DDDDDD 35%, #DDDDDD 65%, #F0F0F0);background-position: center bottom;background-repeat:no-repeat;background-size: 15% 1px;">
      浙ICP备11030258号-2
    </div>
    <a href="http://zj.10086.cn">中国移动通信版权所有</a>
  </div>
</div>
